body {
  font-family: Arial;
  padding: 20px;
  background: #d3d3d3; /*#f1f1f1;*/
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background: white;
  /* max-height: 20vh */;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
  /* max-height: 60vh;
  overflow:auto; */
}

/* Right column */
.rightcolumn {
  float: left;
  width: 23%;
  padding-left: 20px;
 /* max-height: 60vh; */
}

/* image */
#imgContainer{
	max-width: 100%;
	overflow: auto;
}

.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  object-fit: contain;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.ccard {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.post {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.pre {
    display: inline;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.codeSnippet {
	background-color: #ddd;
	color: black;
	/* overflow: auto; */
	padding: 20px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.Snippet {
	background-color: #ddd;
	color: black;
	object-fit: contain;
	padding: 20px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
}

.bio {
	font-family: Courier, 'New Courier', monospace;
	font-size: 12px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#codeStyler {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 1em 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  overflow: hidden;
  padding: 20px;
  text-align: center;
  /* background: #ddd; */
  background: white;
  margin-top: 20px;
  /* max-height: 20vh; */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
      width: 100%;
	  max-width: 100vw;
      padding: 0;
  }

  .img {
	  height: 100%;
	  max-width: auto;
	  object-fit: contain;
  }

  .header {
	  font-size: 15px;
  }

  .footer {
	margin-top: 20px;
  }
}
